{% extends "base.html" %}
{% block content %}
<h2>文字数カウント</h2>
<p>テキストを入力してください。文字数をカウントします。</p>
<div>
    <textarea id="text-input" rows="10" cols="50" placeholder = "文字数をカウントする文章を入力してください。"></textarea><br>
    <button class="primary-btn" onclick="countCharacters()">文字数カウント</button>
</div>

<div>
    <textarea id="result" name="result" rows="10" cols="50" placeholder="文字数 : ??" readonly></textarea>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
